

        <section class="hero glass-frame reveal visible" id="inicio">
          <div class="hero-landscape" aria-hidden="true">
           
          </div>

          <div class="hero-copy">
           
            <h1><strong>Bienvenido al</strong>Multiverso</h1>
            <p>
              Explora personajes, episodios, planetas y ubicaciones anomalas en
              una consola de streaming calibrada con tecnologia alienigena.
            </p>
          </div>
            <img
              class="hero-portal-image"
              src="./assets/Img/portal.webp"
              alt="Dos siluetas de ciencia ficcion frente a un portal verde del multiverso"
            />
        </section>





        <section class="multiverse-stats">

    <h2 class="stats-title">
        ESTADÍSTICAS DEL MULTIVERSO
    </h2>

    <div class="stats-grid">

        <div class="stat-card">
            <img src="./assets/Img/planeta.png" alt="">
            <div class="stat-info">
                <span class="number">126</span>
                <span class="label">PLANETAS</span>
            </div>
        </div>

        <div class="stat-card">
            <img src="./assets/Img/adn.png" alt="">
            <div class="stat-info">
                <span class="number">51</span>
                <span class="label">ESPECIES</span>
            </div>
        </div>

        <div class="stat-card">
            <img src="./assets/Img/ubicacion.png" alt="">
            <div class="stat-info">
                <span class="number">78</span>
                <span class="label">UBICACIONES</span>
            </div>
        </div>

        <div class="stat-card">
            <img src="./assets/Img/televisor.png" alt="">
            <div class="stat-info">
                <span class="number">500+</span>
                <span class="label">EPISODIOS</span>
            </div>
        </div>

    </div>

</section>